main, header, footer, nav, aside {
    padding: 5px;
    margin: auto;
}

nav {
    background-color: #f08080;
}

nav a {
    color: #262626;
    padding: 3px;
}

aside {
    padding: 20px 80px 60px 10px;
    background-color: white;
}

aside p{
    padding-left: 22px;
}

button{
    padding-top: 5px;
}

#login{
    box-shadow: 5px 5px 5px 5px lightgray;
    padding: 20px;
}
#lateral_login{
    padding-top: 40px;
}

header h1 {
    margin: 20px;
}

main {
    padding-right: 60px;
    padding-left: 60px;
    background-color: white;
}

footer {
    margin-top: 20px;
    padding-left: 80px;
    text-align: center;
    background-color: #f08080;
}
.vertical-align {
display: flex;
align-items: center;
flex-direction: row;
}
.list-group-item p {
    padding-top: 5px;
}

ul.list-inline li {
    display: inline;
}

.home, .name {
    color: white;
}

.link, .dropdown {
    color: lightgray;
}

.disabled {
    color: #5e5e5e;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
}

/* Style the active/current link */
.pagination a.active {
    background-color: dodgerblue;
    color: white;
}

/* Add a grey background color on mouse-over */
.pagination a:hover:not(.active) {background-color: #ddd;}