{% extends './base.html' %}
{% load bootstrap %}
{% block content %}

<h2>Doadores</h2>
<h3>Hoje somos {{quant}}</h3>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Nº</th>
      <th scope="col">Nome</th>
      <th scope="col">CPF</th>
      <th scope="col">Telefone</th>
      <th scope="col">Sangue</th>
      <th scope="col">Detalhes</th>
    </tr>
  </thead>
  <tbody>
  	{% for doador in doadores %}
    <tr>
      
        <th scope="row">{{doador.id}}</th>
        <td>{{doador.nome}}</td>
        <td>{{doador.cpf}}</td>
        <td>{{doador.telefone}}</td>
        <td>{{doador.sangue}}</td>
        <td><a href="{% url 'core:detalhe_doador' doador_id=doador.pk %}">DETALHAR</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}